# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Django
backend/staticfiles/
backend/media/
backend/db.sqlite3

# Entornos virtuales
venv/
env/
.venv/
./camera-server/.env
./camera-server/debug_placas

# Variables de entorno
.env
.env.dev
.env.prod
.env.co
*.env

# Docker
*.pid

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Node / React
node_modules/
dist/
build/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

#
camera-server/debug_placas
camera-server/.env
camera-server/venv
#
.env.zip